<!-- <div class="col-md-4">
    <div class="card">
        <div class="card-header">
            {{Stddata.profile}}
        </div>
        <div class="card-body">
            <p>Name : {{Stddata.name}}</p>
            <p>Lname : {{Stddata.fname}}</p>
            <p>CCTC : {{Stddata.CTC | number : "1.1-1" | currency : "INR"}}LPA</p>
            <p>CCTC : {{Stddata.CTC | number : "2.2-3" | currency : "USD"}}LPA</p>
            <p>Date : {{Stddata.realDate | date : "fullDate"}}</p>
        </div>
    </div>
</div>

<p class="alert alert-info mt-4">{{title | summery : 50}}</p>

<p class="alert alert-info mt-4">{{title | summery : 20}}</p> -->

<p class="alert alert-info">
    {{Pipetitle | Taskpipe : 50}}
</p>

<p class="alert alert-info">
    {{Pipetitle | Taskpipe : 10}}
</p>

<p class="alert alert-info">
    {{Pipetitle | Taskpipe : 70}}
</p>

