<div class="container">
  <div class="row">
    <div class="col-12">
      <app-pipe></app-pipe>
      <app-table></app-table>
      <P basicCss [defaultColor]="'aqua'">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam nemo nobis delectus atque voluptate fugiat labore voluptatum ratione. Sint voluptate veritatis earum aperiam, labore commodi porro itaque ullam laudantium ea?</P>
      <!-- <p 
      *ngIf="false"
      [ngStyle]="{backgroundColor : 'aqua'}">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum repudiandae voluptas quo? Placeat ea nam mollitia dignissimos sapiente laborum explicabo totam veritatis voluptatem ipsam sed, optio sequi voluptatibus corrupti fuga?
      </p> -->
      <!-- <app-product></app-product>
      <app-product></app-product>
      <app-mobile></app-mobile> -->
      <!-- <app-products></app-products> -->
      <!-- <app-child [msgfromParent]="msgtoChild"></app-child>
      <app-child [msgfromMother]="msgtoBaby"
      (msgFromChild)="getMsgfromChild($event)"></app-child>
      <app-product [msgFromProduct]="msgtoProduct"></app-product>
      <app-std [getstdInfo]="stdInfo"></app-std>
      <app-child (msgFromBaby)="getmsgfromBaby($event)"></app-child>
      <p class="alert alert-danger">
        {{msgFromChild}}
      </p>
      <p class="alert alert-info">
        {{msgFromBaby}}
      </p> -->
    </div>
  </div>
</div>